html {
    display: block;
    font-family: 'MedievalSharp', cursive;
    background-color: rgb(211, 209, 209);
}

.container {
    display: flex;
    height: 100vh;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3rem;
    text-align: center;
    color: black;
    -webkit-text-fill-color: rgb(135, 104, 245);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#potion-description {
    text-align: center;
    font-size: 1.5rem;
}

.kobold {
    width: 20rem;
}

.potion {
    width: 6rem;
}
#btn {
    display: flex;
    background: none;
    border: none;
    text-align: center;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

#btn:focus {
    outline: none;
    box-shadow: none;
}